/* pour tous les éléments de la page */
* {
    box-sizing: border-box;
}

/* règles de style pour le tableau */
table {
    border-collapse: collapse;
}

th,
td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

/* règle de style pour le bouton d'inscription */
.btn-open {
    border: none;
    border-radius: 5px;
    background-color: #1c87c9;
    color: white;
    padding: 14px 20px;
    cursor: pointer;
    position: fixed;
}

/* règle de style pour les éléments du formulaire */
.popup {
    position: relative;
    width: 100%;
}

.popup-form {
    display: none;
    position: fixed;
    left: 45%;
    top: 15%;
    transform: translate(-50%, 5%);
    border: 3px solid #999999;
    z-index: 9;
}

.titre-form {
    text-align: center;
    margin-top: 10px;
}

.formContainer {
    max-width: 300px;
    padding: 20px;
    background-color: #fff;
}

.formContainer input[type=text],
.formContainer input[type=password],
.formContainer input[type=number] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px 0;
    border: none;
    background: #ddd;
}

.formContainer p {
    width: 100%;
    padding-bottom: 15px;
}

.formContainer input[type=radio] {
    margin-left: 20px;
}

.formContainer input[type=text]:focus,
.formContainer input[type=password]:focus,
.formContainer input[type=number]:focus {
    background-color: #ccc;
    outline: none;
}

.formContainer .btn {
    padding: 12px 20px;
    border: none;
    background-color: #8ebf42;
    color: #fff;
    cursor: pointer;
    width: 100%;
    margin-bottom: 15px;
    opacity: 0.8;
}

.formContainer .cancel {
    background-color: #cc0000;
}

.formContainer .btn:hover,
.openButton:hover {
    opacity: 1;
}